.mat-dialog-content {
    display: flex;
    flex-direction: column;

    .message {
        display: flex;
        flex-display: column;
        width: 500px;
        margin-bottom: 16px;
    }

    img {
        object-fit: contain;
    }
}

.mat-dialog-actions {
    justify-content: flex-end;
}
